.header-text{
    position: absolute;
    top: 200px;
    right:300px ;

}
h1{
    text-align: center;
    color: darkgray;
}
p{
    text-align: center;   
}
.abc{
    border-radius: 10px;
    color: white;
    border: none;
background-color: aquamarine;

}